.page {
    position:absolute;
    text-align: center;
    width:30%;
    padding: 10px;
    left:35%;
    top: 5%;
  }
  
  a {
    text-decoration: none;
  }
  
  input{
    width: 100%;
    border: 2px solid #222;
    border-radius: 20px;
    background-color: #f3f3f3;
    height: 45px;
    margin: 5px;
    border: 0;
    padding-left: 5%;
  }
  
  button {
    width: 102%;
    border-radius: 20px;
    height: 50px;
    margin: 5px;
    border: 0;
  }

  h1 {
    font-size: 200%;
  }
  
  .login {
    background-color: #fbe20d;
  }
  
  .sign-up{
    margin-top: 5px;
    background-color: #dfded7;
  }
  
  .greeting{
    width: 102%;
    background-color: #f7de39;
    height: 60px;
    border-radius: 5px;
    padding: 0.5px;
    margin-bottom: 2%;
  }
  
  .greeting h2{
    margin-top: 5px;
  }
  
  .input-section{
    margin-bottom: 20px;
  }
  
  .exec-section a{
    margin-top: 10px;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  