  .drop-down{
    float: right; 
    overflow: hidden;
    margin-top: 0.5%;
    margin-right: 2%;
  }

  .drop-down .drop-btn{
    width: 5%;
    font-size: 16px;
    border-radius: 2px, 2px, 2px, 2px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .nav-bar button{
    position: absolute;
  }
  .nav-bar a:hover, .drop-down:hover{
    color: #fbe20d;
  } 

  .drop-down-content{
    float: right;
    right: -2%;
    top: 800%;
    display: none;
    position: absolute;
    background-color: #f3f3f3;
    border-radius: 10px 10px 10px 10px;
    width: 10%;
    padding: 1%;
  }

  .drop-down-content a{
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 1%;
    text-align: left;
  }

  .drop-down-content a:hover{
    background-color: #f3f3f3;
  }

  .drop-down:hover .drop-down-content{
    display: block;
    float: left;
  }

  .nav-bar{
    position:fixed;
    top: 0;
    float: right;
    right: 0;
    height:10%;
    width: 100%;
    z-index: 7;
  }

  .nav-bar .nav-header{
    position: absolute;
    float: right;
    right: 4%;
    width: 90%;
    height: 10%;
  }

.logo{
    position: absolute;
    float: left;
    left: 0%;
    width: 10%;
}

.nav-bar a:active{
    color: #fbe20d;
}

.logo img{
    position: absolute;
    float: left;
    left: 0%;
    height: 100px;
    width: 100px;
}

.nav-header .title{
  position: absolute;
  top: 0%;
  float: left;
  left :35%;
  text-align: center;
  font-size: 35px;
}